
.container{
    width:100%;
    margin:0 auto;
    background-color:green;
}

.header h1{
float:left;
margin:0 50px 0 30px;
}

.header{
clear:both;
padding-bottom: 20px;
background-color: grey;
}

.header ul{
    padding-top: 10px;  
}

  
nav ul li {
    margin-top:10px;
    padding-left:20px;		    
    display:inline;   
}
 
   .content{
 width:75%;
    float: left;
    
}
 .content img{
     float:left;
     margin:10px 0px 0px 10px;
 }
.top-content{
 clear:both;
height:20px;
}

.description{
           
            margin:0px 20px 0px 400px;
			float:left;
            
}     

.section{
    float:left;
    width:20%;
    margin-top:15%;
}

        .aside {
            float:right;
            width:180px;
            height:720px;
            padding:0px;
            background:yellow;
   }
        .footer {
            clear:both;
            text-align:center;
            background:#4A5C80;
			padding:5px 10px;
        }
       
      

 .section{
 width:20%;
 display:inline;
 
 }
