body{
 width:1000px;
 height:700px;
 padding-top:0px;
 margin:auto;
 
 }
	 .header {
            width:100%;
            height:80px;
            background:pink;
			width:1000px;
			height:50px;
			float:center;
			clear:both;
   }
  
  .net{
      float:right;
   margin-right:20px;
  }

        .sonnet{
            margin:0 0 1em;
        }
        
  .center{
           text-align:center;
           float:right;
           margin:10px;
     font-size:20px;
     font-weight:bold;
        }
  
  .wrap{
            width:720px;
            margin:0 auto;
   height:500px;
        }


        .nav ul{
      margin:0;
   padding:1px;
            list-style:none;
            background-color:green;
   
        }
        .nav li {
      margin:1%;
   padding:2%;      
            display:inline;
        }
  
        .content {
            float:left;
            width:800px;
            height:700px;
            padding:10px;
            background:#9c9;
        } 
        .aside {
            float:right;
            width:180px;
            height:720px;
            padding:0px;
            background:yellow;
   }
        .footer {
            clear:both;
            text-align:center;
            background:#4A5C80;
			height:50px;
        }
        .aside ul li {
		display:inline;
		padding-left:20px;
		margin-top;10px;
		
		}
       h2{
	   text-align:center;
	   
	   }
 .description{
 float:left;
 }
 
 .section{
 width:20%;
 display:inline;
 
 }
