body{
background-color:pink;
color: blue;
font-family:"Comic Sans MS", cursive, sans-serif;

}


.container{
		width:70%;
		margin:0 auto;
		}
		.left{
		float:left;
		width:40%;
		
		}
		.right{
		float:left;
		width:40%;
		margin-left:10%;
		
		}
		table, th, td{
		border: 1px black solid;
	
		}
		
	    table,tr:nth-child(even) 
		{
		background: black;
		}
       table, tr:nth-child(odd) 
		{
		background: white;
		}
		ul li:nth-child(5) {  
        color: green;
          }
		a:hover{
		 background-color:brown;
		  }
		  a{
		  	text-decoration:none;
		  }
		  hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
		} 
		
		audio{
		height:50px;
		width:800px;
		margin-top:50px;
		}
		
		footer{
        position:absolute;
       top:1600px;
      margin-left:0px;
     width:1400px;
     height:120px;
     background-color:lightgrey;
     font-size:80%;
     text-align:center;
    }

